<% include ../header %>
<style>
    body {
        background-color: #2E2E2E;
    }

    .title {
        color: aliceblue;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        text-align: center;
    }

    .app {
        font-size: 2.8em;
        text-align: center;
    }

    .title-app,
    .title-app:hover {
        color: aliceblue;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        text-decoration: none;
    }

    .footer-form {
        color: aliceblue;

    }
</style>

<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <h2 class="app"><a class="title-app" href="/">Magic Music</a></h2>
            <hr>
            <%- locals.flash %>
            <h3 class="text-center title">Inicio de Sesión</h3>
            <form action="/signin" method="POST" id="signin">
                <div class="form-group">
                    <input type="email" name="email" placeholder="Correo Electronico" class="form-control" autofocus>
                </div>
                <div class="form-group">
                    <input type="password" name="password" placeholder="Contraseña" class="form-control">
                </div>
                <div class="form-group">
                    <button class="btn btn-success btn-block">
                        Iniciar Sesión
                    </button>
                </div>
                <div class="text-center footer-form">
                    <small>¿No tienes Cuenta? <a href="/signup">Regístrate</a></small>
                </div>
            </form>
        </div>
    </div>
</div>

<% include ../footer %>