<div class="container">
    <h3 class="text-center">Agregar Fichero de Canción</h3>
    <%-locals.flash%>
    <form action="/song/upload-file-song" enctype="multipart/form-data" method="POST">
        <div class="form-group">
            <label for="artist">Seleccionar Canción</label>
            <select name="external" class="form-control" id="songList">
                <%songs.forEach(function(song){%>
                    <option value="<%=song.external_id%>"><%=song.title%></option>
                <%});%>
            </select>
        </div>
        <div class="form-group">
            <label for="file">Agregar Fichero de Audio</label>
            <input type="file" name="file" class="form-control">
        </div>
        <div class="form-group">
            <button class="btn btn-success btn-block">
                Guardar
            </button>
        </div>
    </form>
</div>