<div class="alert <%= locals.alertClass %>  alert-dismissible notif" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	<span class="alert-message"><%- locals.message %></span>
</div>