<div class="container">
    <form action="/artist/saveArtist" method="POST">
        <h3 class="text-center">Agregar Artista</h3>
        <%-locals.flash %>
        <div class="form-group">
            <input type="text" name="name" placeholder="Nombre del Artista" class="form-control" id="firstName">
        </div>
        <div class="form-group">
            <textarea name="description" placeholder="Descripción del Artista" cols="30" rows="10"
                class="form-control"></textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-success btn-block">
                Guardar
            </button>
    </form>
</div>